# Compiled Files etc
*.pyc
*__pycache__*

# System and editor files
*.DS_Store
*~

# Development
.gitignore
env
logs

# Ad-hoc tools
helpers
out.html

# Deployment files
creds.json

# Supporting documentation
notes