# Compiled Files etc
*.pyc
*__pycache__*

# System and editor files
*.DS_Store
*~

# Development
.gitignore
env
logs

# Tool configurations
src/tools/morphs/harcoded/*

# Ad-hoc tools
helpers
out.html

# Deployment files
creds.json
deploy

# Supporting documentation
notes